<div class="login-wrap">
    <div class="container">
        <form class="form-signin" method="POST" action="/auth">
            <h3 class="form-signin-heading">Пожалуйста, авторизуйтесь</h3>
            <check if="{{ @authError }}">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Не верный логин, или пароль
                </div>
            </check>
            <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Имя" required="" autofocus="">
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Пароль" required="">
            <button class="btn btn-md btn-primary btn-block" type="submit">Войти</button>
        </form>
    </div>
</div>

