<div id="modalMessage" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="sendmessage" action="/sendmessage">
                <div id="sendMessageResult"></div>
                <div class="form-group">
                    <label for="to">Получатель</label>
                    <input name="to" type="email" class="form-control" id="to" required="true" placeholder="Введите email получателя">
                </div>
                <div class="form-group">
                    <label for="subject">Тема письма</label>
                    <input required="true" name="subject" type="text" class="form-control" id="subject">
                </div>
                <div class="form-group">
                    <label for="message">Текст письма</label>
                    <textarea required="true" name="message" class="form-control" rows="5" id="message"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" id="sendMsg">Отправить</button>
                    <button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.tablesorter.min.js"></script>
<script src="assets/js/script.js"></script>
</body>
</html>